@{
    ViewData["Title"] = "Общие покупки";
    ViewData["Back"] = "/Home/Index";
}
@using Budget.Controllers;
@model List<MoneyForEveryoneAndPerson>

<a asp-controller="PurchasesForEveryone" asp-action="Add" class="btn btn-outline-info">
    <em>Добавить покупателя</em>
</a>
<br /><br />
@if (Model.Any())
{
    <h5><em>С каждого человека: @Model[0].Money.MiddleValue</em></h5>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Заплатил(а)</th>
                <th>Должен(а) получить</th>
                <th>Должен(а) заплатить</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Money.Paid</td>
                    <td>@item.Money.MustGet</td>
                    <td>@item.Money.MustPay</td>
                </tr>
            }
            <tr>
                <th>Общая сумма:</th>
                <td colspan=3>@Model.Sum(m => m.Money.Paid)</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a asp-action="Delete" asp-controller="PurchasesForEveryone" class="btn btn-outline-danger">Удалить все</a>
}

