@model ModelWithMode<User>

@{
    Layout = "_BudgetEditLayout";

    Mode mode = Model.Mode;
    string id = Model.Model.Id;

    bool isEdit = mode == Mode.Edit || mode == Mode.Add;

    ViewBag.Title = nameof(User);

    TagAModel tagAModel = new()
            {
                HrefBeforeUserId = UserController.name,
                HrefAfterUserId = $"{UserController.pathToModels}/{id}",
                UserId = null,
                Mode = mode
            };
    ViewBag.TagAModel = tagAModel;
}



<div class="row">
    <div class="col">
        <label asp-for="Model.Id"></label>
    </div>
    <div class="col">
        <input asp-for="Model.Id" disabled />
        <br />
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="Model.UserName"></label>
    </div>
    <div class="col">
        <input asp-for="Model.UserName" disabled="@(!isEdit)" />
        @if (isEdit)
        {
            <p><span asp-validation-for="Model.UserName" class="text-danger"></span></p>
        }
        else
        {
            <br />
        }
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="Model.Email"></label>
    </div>
    <div class="col">
        <input asp-for="Model.Email" disabled="@(!isEdit)" type="email"/>
        @if (isEdit)
        {
            <p><span asp-validation-for="Model.Email" class="text-danger"></span></p>
        }
        else
        {
            <br />
        }
    </div>
    <div class="col"></div>
</div>
@if (User.IsInRole(Roles.Admin))
{

    <div class="row">
        <div class="col">
            <label asp-for="Model.RegisteredTime"></label>
        </div>
        <div class="col">
            <input asp-for="Model.RegisteredTime" disabled="@(!isEdit)" />
            @if (isEdit)
            {
                <p><span asp-validation-for="Model.RegisteredTime" class="text-danger"></span></p>
            }
            else
            {
                <br />
            }
        </div>
        <div class="col"></div>
    </div>
}


@section BelowForm {

    @if (User.IsInRole(Roles.Admin))
    {

        <a href="@($"/{OperationController.name}/{id}/{TypeOfOperation.Purchase.ToStringAndLower()}/{OperationController.pathToModels}")"
           class="btn btn-outline-primary">
            <em>Purchases</em>
        </a>
        <br />
        <br />
        <a href="@($"/{OperationController.name}/{id}/{TypeOfOperation.Receiving.ToStringAndLower()}/{OperationController.pathToModels}")"
           class="btn btn-outline-primary">
            <em>Receiving</em>
        </a>
        <br />
        <br />
        <a href="@($"/{OperationController.name}/{id}/{TypeOfOperation.Purchase.ToStringAndLower()}/{OperationController.pathToModels}")"
           class="btn btn-outline-primary">
            <em>Compare</em>
        </a>
        <br />
        <br />
        <a href="@($"/{CategoryController.name}/{id}/{CategoryController.pathToModels}")"
           class="btn btn-outline-primary">
            <em>Categories</em>
        </a>
        <br />
        <br />
        <a href="@($"/{UserController.name}/{id}/{UserController.partPathToRoles}/{UserController.partPathEdit}")"
           class="btn btn-outline-warning">
            <em>Edit Role</em>
        </a>
        <br />
        <br />
    }
    <a href="@($"/{UserController.name}/{id}/{UserController.partPathToPassword}/{UserController.partPathEdit}")"
       class="btn btn-outline-warning">
        <em>Edit Password</em>
    </a>
    <br />
    <br />
}


