@model ModelWithMode<ChangePasswordWithUserId>

@{
    Layout = "_BudgetLayout";

    Mode mode = Model.Mode;
    bool isEdit = mode == Mode.Edit || mode == Mode.Add;

    ViewBag.Title = $"{nameof(User)}'s password";

    string? userId = Model.Model.UserId;

    TagAModel tagAModel = new()
            {
                HrefBeforeUserId = UserController.name,
                HrefAfterUserId = $"{userId}/{UserController.partPathToPassword}/{mode.ToStringAndLower()}",
                UserId = null,
                Mode = mode
            };
    ViewBag.TagAModel = tagAModel;

    var changePassword = Model.Model.ChangePassword;
}

<form-validation form-model="@tagAModel">
    <div asp-validation-summary="ModelOnly" class="text-danger" style="font-style: oblique;"></div>

    <div class="row">
        <div class="col">
            <label asp-for="@changePassword.OldPassword"></label>
        </div>
        <div class="col">
            <input asp-for="@changePassword.OldPassword" disabled="@(!isEdit)" />
            @if (isEdit)
            {
                <p><span asp-validation-for="@changePassword.OldPassword" class="text-danger"></span></p>
            }
            else
            {
                <br />
            }
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="@changePassword.NewPassword"></label>
        </div>
        <div class="col">
            <input asp-for="@changePassword.NewPassword" disabled="@(!isEdit)" />
            @if (isEdit)
            {
                <p><span asp-validation-for="@changePassword.NewPassword" class="text-danger"></span></p>
            }
            else
            {
                <br />
            }
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="@changePassword.ConfirmNewPassword"></label>
        </div>
        <div class="col">
            <input asp-for="@changePassword.ConfirmNewPassword" disabled="@(!isEdit)" />
            @if (isEdit)
            {
                <p><span asp-validation-for="@changePassword.ConfirmNewPassword" class="text-danger"></span></p>
            }
            else
            {
                <br />
            }
        </div>
        <div class="col"></div>
    </div>
</form-validation>



