@model ModelWithMode<User>

@{
    ViewBag.Title = "User";
    Mode mode = Model.Mode;
    User? user = Model.Model;

    bool isEdit = mode == Mode.Edit || mode == Mode.Add;

    string color = ModeHelper.GetBootstrapColorByMode(mode);

    FormModel formModel = new() { Action = $"/users/models/{mode.ToString().ToLower()}", Mode = mode };
}

@section BelowHeader {
    <h3 class="text-secondary">User</h3>
    <hr />
    <h3 class="text-@color">@mode</h3>
    <br />
    @if (mode != Mode.Add)
    {
        @if (mode != Mode.Edit)
        {
            <a href="@($"/users/models/{user!.Id}/edit")"
               class="btn btn-outline-warning">
                <em>Edit</em>
            </a>
        }
        <a href="@($"/users/models/{user!.Id}/delete")"
           class="btn btn-outline-danger">
            <em>Delete</em>
        </a>
    }
}


<form-validation form-model="@formModel">
    <div class="row">
        <div class="col">Name</div>
        <div class="col">
            @if (isEdit)
            {
                <input asp-for="Model.UserName" class="form-control" />
                <p><span asp-validation-for="Model.UserName" class="text-danger"></span></p>
            }
            else
            {
                @user.UserName
            }
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">Email</div>
        <div class="col">
            @if (isEdit)
            {
                <input asp-for="Model.Email" class="form-control" />
                <p><span asp-validation-for="Model.Email" class="text-danger"></span></p>
            }
            else
            {
                @user.Email
            }
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">Registered Time</div>
        <div class="col">
            @if (isEdit)
            {
                <input asp-for="Model.RegisteredTime" class="form-control" />
                <p><span asp-validation-for="Model.RegisteredTime" class="text-danger"></span></p>
            }
            else
            {
                @user.RegisteredTime
            }
        </div>
        <div class="col"></div>
    </div>
</form-validation>

<br />
<a href="@($"/operations/{TypeOfOperation.Purchase.ToString().ToLower()}/models?userId={user.Id}")"
   class="btn btn-outline-primary">
    <em>Purchases</em>
</a>
<br /><br />
<a href="@($"/operations/{TypeOfOperation.Receiving.ToString().ToLower()}/models?userId={user.Id}")"
   class="btn btn-outline-primary">
    <em>Receiving</em>
</a>
<br /><br />
<a href="@($"/operations/{TypeOfOperation.Purchase.ToString().ToLower()}/models?userId={user.Id}")"
   class="btn btn-outline-primary">
    <em>Compare</em>
</a>
<br /><br />
<a href="@($"/categories/models?userId={user.Id}")"
   class="btn btn-outline-primary">
    <em>Categories</em>
</a>
<br /><br />
<a href=""
   class="btn btn-outline-warning">
    <em>Edit Password</em>
</a>
<br /><br />
<a href=""
   class="btn btn-outline-warning">
    <em>Edit Role</em>
</a>
<br />

<br />


