@model ModelWithMode<Category>

@{
    Layout = "_BudgetEditLayout";

    ViewBag.Title = "Category";
    Mode mode = Model.Mode;
    Category? category = Model.Model;

    bool isEdit = mode == Mode.Edit || mode == Mode.Add;

    ViewBag.Title = nameof(Category);
    ViewBag.Mode = mode;

    string pathToForm = "/categories/models";
    ViewBag.PathToForm = pathToForm;
    ViewBag.PathToEdit = $"{pathToForm}/{category.Id}";

}

<div class="row">
    <div class="col">
        <label asp-for="Model.Name"></label>
    </div>
    <div class="col">
        <input asp-for="Model.Name" disabled="@(!isEdit)" />
        @if (isEdit)
        {
            <p><span asp-validation-for="Model.Name" class="text-danger"></span></p>
        }
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col">
        <label asp-for="Model.ParentCategory!.Name">Parent Category</label>
    </div>
    <div class="col">
        <input asp-for="Model.ParentCategory!.Name" disabled="@(!isEdit)" />
    </div>
    <div class="col">
        <a href="@($"/categories/models/{category.ParentCategory?.Id}")"
           class="btn btn-outline-primary">
            <em>Details</em>
        </a>
        <a href="@($"/categories/models/{category.ParentCategory?.Id}/edit")"
           class="btn btn-outline-warning">
            <em>Edit</em>
        </a>
        <a href="@($"/categories/models/{category.ParentCategory?.Id}/delete")"
           class="btn btn-outline-danger">
            <em>Delete</em>
        </a>
    </div>
</div>
<div class="row">
    <div class="col">Sub Categories</div>
    <div class="col">
    </div>
    <div class="col"></div>
</div>

@foreach (Category childCategory in category?.ChildCategories ?? Enumerable.Empty<Category>())
{
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <input asp-for="@childCategory.Name" disabled="@(!isEdit)" />
        </div>
        <div class="col">
            <a href="@($"/categories/models/{childCategory.Id}")"
               class="btn btn-outline-primary">
                <em>Details</em>
            </a>
            <a href="@($"/categories/models/{childCategory.Id}/edit")"
               class="btn btn-outline-warning">
                <em>Edit</em>
            </a>
            <a href="@($"/categories/models/{childCategory.Id}/delete")"
               class="btn btn-outline-danger">
                <em>Delete</em>
            </a>
        </div>
    </div>
}

@if (mode != Mode.Get)
{
    <input type="hidden" asp-for="Model.Id" />
    <input type="hidden" asp-for="Model.ParentCategoryId" />
    <input type="hidden" asp-for="Model.UserId" />
}


