@using System.Linq
@model GetAndPerson
@{
    ViewBag.Back = $"/Person/Person";
    ViewBag.Title = "Получение";
}
<h5>
    <em>
        Кол-во денег на данный момент:<br />
    </em>
</h5>
<h6>
    <em>
        На карте: @Model.User.NowMoneyInCart
        <br />
        Наличными: @Model.User.NowMoneyInCash
    </em>
</h6>

<a asp-controller="EditPay" asp-action="Add"
   class="btn btn-outline-primary">
    <em>Добавить</em>
</a>
@if (Model.Get.Any())
{
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Источник</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Получено</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @{
            var pays = Model.Get.OrderBy(g => g.Time).ToList();
            string month = pays[0].Time.ToString("Y");
        }
        @for (int i = 0; i < pays.Count; i++)
        {
            GetMoney get = pays[i];
            string thisMonth = get.Time.ToString("Y");
            if (i == 0 || thisMonth != month)
            {
                month = thisMonth;
                <tr>
                    <th colspan=6 style="text-align:center;color:blue;">@month</th>
                </tr>
            }
            <tr>
                <td>@get.Name</td>
                <td>@get.Time.ToShortDateString()</td>
                <td>@get.Money</td>
                <td>@(get.IsCash ? "Наличными" : "Картой")</td>
                <td>
                    <a asp-controller="EditPay" asp-action="Edit" class="btn btn-outline-info"
                         asp-route-getId=@get.Id>
                        <em>Изменить</em>
                    </a>
                </td>
                <td>
                    <a asp-controller="EditPay" asp-action="Delete" class="btn btn-outline-danger"
                        asp-route-getId=@get.Id>
                        <em>Удалить</em>
                    </a>
                </td>

            </tr>
        }
    </table>
    <br />
    <table class="table">
        <tr>
            <th>Общая сумма получена на карту</th>
            <th>Общая сумма получена наличными</th>
        </tr>
        <tr>
            @{
                decimal cart = 0;
                decimal cash = 0;
                foreach (var item in Model.Get)
                {
                    if (item.IsCash)
                        cash += item.Money;
                    else
                        cart += item.Money;
                }

            }
            <td>@( cart == 0 ? " " : cart.ToString())</td>
            <td>@( cash == 0 ? " " : cash.ToString())</td>
        </tr>
    </table>

}